background: {{background.color}}
<br>
<br>

<button {{action 'changeBackground' background}}>Change background color!</button>

<button {{action 'resetBackground' background}}>Reset background</button>
